section#home {
  margin-bottom: 100px;
  position: relative;
}

.frontPage img {
  width: 40vw;
  height: 100vh;
}

.menuMobile {
  display: none;
}

.frontPageContent {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 100px 0px 100px;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  padding: 40px;
}

s .frontPage {
  height: 100vh;
}

.logo {
  font-family: Abril Fatface;
  color: #817770;
  font-size: 64px;
  font-weight: lighter;
  margin-top: 50px;
}

@media only screen and (max-width: 375px) {
  section {
    height: unset;
  }

  body {
    display: block;
  }
  section#home {
    position: relative;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 50px;
  }

  section#home p {
    padding: 30px;
  }
  .frontPage img {
    width: 100vw;
    height: 100vh;
    order: 1;
  }

  .navbar {
    padding: 30px;
  }

  .logo {
    position: absolute;
    top: 0;
    display: flex;
    padding: 40 px;
    color: #dfdedb;
    font-size: 50px;
    margin-left: 123px;
    margin-top: 100px;
  }
  .frontPageContent {
    order: 2;
    width: 100vw;
    padding: 0px 0px 0px 0px;
    margin-top: 50px;
  }

  .menuMobile {
    display: block;
  }
  .flex {
    gap: 40px;
  }
  .menuDesktop {
    display: none;
  }
}
