#reference {
  position: relative;
}
.menuReference {
  width: 1225px;
  height: 86px;
  background-color: #bab2ae;
  z-index: 1;
  position: absolute;
  left: 0;
  margin-top: 30px;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 45px;
}

.menuReference h2 {
  margin-top: 10px;
  margin-right: 45px;
  color: #4d4138;
}

.parentReference {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 150px;
  text-align: right;
  grid-gap: 5px;
}

.parentReference img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  border: 5px solid rgb(175, 166, 166);
}

@media only screen and (max-width: 375px) {
  #reference {
    position: relative;
    height: 440px;
    scroll-snap-align: top;
  }
  .menuReference {
    width: 375px;
    height: 50px;
    background-color: #bab2ae;
    margin-top: 60px;
    justify-content: center;
    display: flex;
  }

  .menuReference h2 {
    margin-right: 0px;
  }
  .parentReference {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-top: 5%;
    padding-left: 20px;
  }

  .ref1 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  .ref2 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  .ref3 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  .ref4 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  .ref5 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  .ref6 {
    display: inline-block;
    position: relative;
  }

  .product img {
    width: 375px;
    height: 350px;
    display: block;
  }
}
