section#styles {
  height: 330vh;
  scroll-snap-align: start;
  position: relative;
}

.menu {
  width: 1295px;
  height: 86px;
  background-color: #bab2ae;
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 30px;
}

.parentStyles {
  display: grid;
  width: 100%;
  height: 330vh;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(55, 1fr);
}

.trendImg {
  background: violet;
  grid-column: 2 / span 4;
  grid-row: 4 / span 13;
  object-fit: cover;
}

.trendImg img {
  height: 100%;
  width: 100%;
}

section#styles .parentStyles h2 {
  margin-left: 50px;
}

.japandiImg img {
  height: 100%;
  width: 100%;
}

.trendText {
  grid-column: 6 / span 5;
  grid-row: 7 / span 6;
}

.japandiImg {
  background: lightpink;
  grid-column: 7 / span 4;
  grid-row: 15 / span 14;
}

.japandiText {
  grid-column: 2 / span 5;
  grid-row: 19 / span 6;
  text-align: right;
}

.japandiText h2,
p {
  margin-right: 50px;
  /* text-align: right; */
}

.miniImg {
  background: green;
  grid-column: 2 / span 4;
  grid-row: 27 / span 14;
}

.miniImg img {
  height: 100%;
  width: 100%;
}

.miniText {
  grid-column: 6 / span 5;
  grid-row: 31 / span 6;
}

.miniText h2,
p {
  margin-left: 50px;
}

.scandicImg {
  background: green;
  grid-column: 7 / span 4;
  grid-row: 39 / span 14;
}

.scandicImg img {
  height: 100%;
  width: 100%;
}

.scandicText {
  grid-column: 2 / span 5;
  grid-row: 43 / span 6;
  text-align: right;
}

.scandicText h2,
p {
  margin-right: 50px;
}

.parentFallStyles {
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

@media only screen and (max-width: 375px) {
  .menu {
    width: 342px;
    height: 56px;
    background-color: #bab2ae;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-top: 30px;
  }

  .parentStyles img {
    height: 300px;
    width: 200px;
  }

  .parentStyles {
    display: grid;
    width: 100%;
    height: 330vh;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(55, 1fr);
  }
}
