* {
  box-sizing: border-box;
}

body {
  background-color: #dfdedb;
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  padding: 40px;
}
.frontPage img {
  width: 40vw;
  height: 100vh;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

.frontPageContent {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 100px 0px 100px;
}

s .frontPage {
  height: 100vh;
}

.logo {
  font-family: Abril Fatface;
  color: #817770;
  font-size: 64px;
  font-weight: lighter;
  margin-top: 50px;
}

p {
  font-family: Poiret One;
  font-size: 20px;
  color: #392f27;
}

section#home {
  margin-bottom: 100px;
  position: relative;
}
section#packages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.packageContainer {
  background-color: white;
  margin: 50px;
  width: 350px;
  height: 700px;
}

.imageContainer {
  background-color: white;
}

.imageContainer img {
  width: 350px;
}

.textContainer {
  background: white;
  margin: 10px;
}

.packageName {
  font-family: Abril Fatface;
  font-weight: lighter;
  font-size: 40px;
  color: #392f27;
}

.forYou {
  font-family: Poiret One;
  font-size: 22px;
  color: #392f27;
}

ul {
  display: inline-block;
  text-align: left;
}
li {
  color: #392f27;
  font-family: Poiret One;
  font-size: 5px;
  list-style: inside;
}

li span {
  font-size: 18px;
}

.videoBox {
  display: flex;
  height: 70vh;
  width: 100%;
  background-color: #9c9897;
  justify-content: center;
  align-self: center;
}

.videoBox video {
  max-height: 100%;
}
section#styles {
  background-color: cornsilk;
  flex-direction: row;
  height: 100%;
}
.fall-styles {
}
.styles-parent {
  display: flex;
  width: 100%;
  height: 20x;
  background-color: darkcyan;
  padding: 30;
  flex-direction: row;
}
.fall-img {
  background-color: burlywood;
  height: 20px;
  width: 50px;
}
.fall-text {
  background-color: aquamarine;
  height: 30px;
  width: 50px;
}
#steps {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#reference {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#reviews {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
  v
}
