* {
  box-sizing: border-box;
}

body {
  background-color: #dfdedb;
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

h2 {
  font-family: Abril Fatface;
  font-size: 48px;
  color: #82716a;
  font-weight: 400;
}

p {
  font-family: Poiret One;
  font-size: 20px;
  color: #392f27;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

button {
  width: 155px;
  height: 27px;
  font-size: 18px;
  background-color: #dfdedb;
  margin-top: 20px;
  cursor: pointer;
  font-family: Poiret One;
  border: none;
}
